@import url(https://fonts.bunny.net/css?family=aclonica:400);

/* #title {
    color:black;
 background-color: palevioletred;
    font-size: 30px;
}
p {
    font-size: medium;
    /* margin-top: 25px; */
/* } */ */

​
* {
  font-family: "Aclonica";
}
​
body {
  margin: 0;
  padding: 0;
}
​
nav {
  background-color: chocolate;
}
nav{
    background-color: red;
    font-size: x-large;
}
 nav a {
    color: #fff;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
 }

 nav a:hover {
    background-color: white;
    color: chocolate;
 }

 main {
    min-height: 300px;
  }
  ​
  main p {
    margin-bottom: 1rem;
  }
  ​
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }
  ​
  footer {
    background-color: rebeccapurple;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  /* footer a {
    font-size: 1.5em;
  } */